<tr>
  <td><%= result.fields["Resource Name"] %></td>
  <td><%= result.fields["Description"] %></td>
  <td><%= result.fields["Type of Resource"]&.join(", ") %></td>
  <td><%= result.fields["Owner"] %></td>
  <td><%= result.fields["Reusable?"] %></td>
</tr>